# OS X
.DS_Store

# Migrations
migrations/*

# Editor files
*.sw?
*~
#*

# Python ignores
*.ipynb
*.py?
*.egg
*.egg-info
pip-log.txt
build.txt

# Server-related
*.sock

# Distribution related files
dist
sdist
build
MANIFEST


whoosh.index
